.story {
  stroke-width: 5px;
  stroke: black;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 75px;
  background-color: transparent;
  background-position: 70 1, center top;

}

#hereText {
  stroke-width: 5px;
  stroke: black;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 20px;
  background-color: transparent;
  background-position: 70 1, center top;
}

#hereTextCenter {
  stroke-width: 5px;
  stroke: black;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  background-color: transparent;
  background-position: 70 1, center top;
}

.SensorW {
  background-color: #3399ff;
  opacity: 0.5;
  padding: 20px; 

}

BookWidget {
  background-image: "./Media/background.png";
  background-clip: padding-box;
  background-repeat: no-repeat;
  background-size: 500px auto;
  background-position: center;
  box-shadow: 10px 10px 10px 10px #888888;
  border-style: solid;      /* change style from none to visible */
  border-color:  #3399ff;  
  border-width: 5px; 
  padding: 15px;
  padding-top: 20px;
  width: 250px;
}